<% if (currentUser) { %>
	<form method="POST" role="form">
	  <div class="form-group">
	    <!-- <label for="title" class="hidden">Email</label> -->
	    <input type="text" class="form-control" id="title" placeholder="title" name="title">
	  </div>
	  <div class="form-group">
	   <!--  <label for="body" class="hidden">Password</label> -->
	    <input type="text" class="form-control" id="body" placeholder=" " name="body">
	  </div>

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
<% } else { %>
	<div>
		<h3>Log in to add submission</h3>
	</div>
<% } %>

<ul>
	<% if(typeof submissions !== 'undefined') { %>
		<% submissions.forEach(function(info) { %>
			<div class="well">
				<h3><%= info.title %></h3>
				<p><%= info.body %></p>
				<% if(currentUser) { %>
					<button type="button" data-post-id="<%= info.id %>" class="delete-btn btn-default">
						Delete
					</button>
					<a href="posts/edit/"<%=info.id%>">
						<h1><%= info.id%></h1>
					</a>
				<% } %>
			</div>
		<% }); %>
    <% } %>
</ul>